{% extends 'home.html' %}


{% block content %}
    <div class="card">
        <h1 style="text-align: center">虎扑
        </h1>
        <HR style="FILTER: alpha(opacity=100,finishopacity=0,style=3)" width="80%" color=#987cb9 SIZE=3>
        <table class="table table-hover table-striped table-bordered">
            <thead>
                <tr>
                    <th>帖子</th>


                </tr>
            </thead>
            <tbody>
                {% for hupu in hupu_result %}
                    <tr>
                        <td>
                            <a class="a " href = "{{ hupu.href }}">
                                {{ hupu.title }}
                            </a>
                            <span class="text-primary" style="margin-right: 20px">
                                &ensp;&ensp;{{ hupu.day }}
                            </span>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>

        </table>
    </div>
{% endblock %}