{% extends 'home.html' %}


{% block content %}
    <div class="card">
        <h1 style="text-align: center">校内通知
        </h1>
        <HR style="FILTER: alpha(opacity=100,finishopacity=0,style=3)" width="80%" color=#987cb9 SIZE=3>
        <table class="table table-hover table-striped table-bordered">
            <thead>
                <tr>
                    <th></th>


                </tr>
            </thead>
            <tbody>
                {% for que in queery %}
                    <tr>
                        <td>
                            <a class="a" href = "{{ que.href }}">
                                {{ que.title }}
                            </a>
                            <span class="text-primary"style="margin-right: 20px">
                                &ensp;&ensp;{{ que.author }}&nbsp;&nbsp;{{ que.time }}
                            </span>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>

        </table>
    </div>
{% endblock %}